body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.answer {
  width: 100px;
  margin: 25px;
  height: 50px;
  border: solid green 3px;
  text-align: center;
}

.modal-container {
  background: chartreuse;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: darkcyan;
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image:#ff0000;background-image:  
    radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0, transparent 50%),  
    radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0, transparent 50%),  
    radial-gradient(at 0% 50%, hsla(355,85%,93%,1) 0, transparent 50%),  
    radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0, transparent 50%),  
    radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0, transparent 50%),  
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0, transparent 50%),  
    radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0, transparent 50%);
}
.calc-container {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px;
  gap: 5px;
}

.button-style {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  height: 75px;
  padding: 0px;
  background: #fff8;
  border: none;
}

.button-style:hover {
  box-shadow: 0px 0px 10px #e5b1f5;
}

.span-2 {
  grid-column: span 2;
}