:root {
  box-sizing: border-box;
  --darkest: #121c16;
  --dark: #1e2e24;
  --mid: #3a4a40;
  --light: #cef0db;
  --orange: #e46e15;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: var(--mid);
}

.answer {
  width: 100px;
  margin: 25px;
  height: 50px;
  border: solid green 3px;
  text-align: center;
}

.modal-container {
  background: chartreuse;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: darkcyan;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.calculator {
  box-shadow: 3px 3px 15px rgba(12, 11, 11, 0.9);
  border-radius: 1.25rem;
  background: none;
}

.calc-keys {
  display: grid;
  grid-template-columns: 85px 85px 85px 85px;
  border-radius: 1.25rem;
  gap: .25rem;
  background: var(--darkest);
}

.numbers {
  font-family: sans-serif;
  font-size: 1.5em;
  height: 65px;
  padding: 0px;
  background: var(--dark);
  color: white;
  border: none;
}

.button-style:hover {
  box-shadow: 0px 0px 10px #e5b1f5;
}

.span-2 {
  grid-column: span 2;
}

.output {
  position: relative;
  font-size: 1.8rem;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 80% 20%;
  color: white;
  width: 100%;
  height: 90px;
  background: rgb(36, 36, 39);
  border-radius: 20px 20px 0px 0px;
}

.display {
  padding-right: 15px;
  border-radius: 15px;
  margin: 15px auto 0px auto;
  text-align: right;
  word-wrap: break-word;
  width: 225px;
  height: 35px;
  background: #fff2;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.display-2 {
  margin-top: 0px;
  width: 225px;
  height: 25px;
  font-size: .8em;
}

.display-3 {
  margin: auto;
  grid-row: span 2;
}

.zero {
  border-bottom-left-radius: 20px;
}


.output-2 {
  height: 25px;
}

.operator {
  font-size: 1rem;
  height: 65px;
  border: none;
  background: var(--mid);
}

.span-2, .equals {
  background: var(--orange);
}

.equals {
  border-bottom-right-radius: 20px;
}

.deco, .deco-two {
  position: absolute;
  background: #fff2;
  width: 100px;
  height: 20px;
  border-radius: 100px;
  top: 15px;
}

.deco {
  left: 35px;
}

.deco-two {
  width: 20px;
  left: 140px;
}